/*CSS Reset / Normalize*/
/* Hemos disponibilizado el básico de reset de estilos. Si quieren, añadan más informaciones 
en las secciones señaladas */
/*Já deixaremos o básico de reset de estilos. Caso queira adicionar mais informações
coloque nas sessões indicadas*/

:root {
    /* Inserta la variable de los otros colores inspeccionando el exemplo de figma */
    /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
    --cor-de-fundo: #222;
    --col-de-fondo-secon: #333;
    --cor-de-link: #fff;
    --color-de-texto: #939393;
    --color-de-titulo: #ff8b00;
    --fondo-boton: #ff8b00;
}
html{
    overflow-y: scroll;
    scroll-behavior: smooth;
}
body {
    box-sizing: border-box;
    background-color: var(--cor-de-fundo);
    color: var(--color-de-texto);
    font-family: 'Raleway';
    margin: 0;
    padding: 0;
    line-height: 1;
    color: var(--color-de-texto);
}

ol,
ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--cor-de-link);
}
h1,h2,h3,h4,h5,h6{
    color: var(--color-de-titulo);
}

.tudo {
    display: flex;
    gap: clamp(1rem,5vw,3rem);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 0px;
}

/*En este desafío nosostros gustaríamos que ustedes intentaran utilizar la metodología BEM. 

Lo que es el BEM?

BEM (Bloque, Elemento, Modificador) es un enfoque basado en componentes para el 
desarrollo web. La idea detrás de esto es dividir la interfaz de usuario en bloques
independientes. Esto hace que el desarrollo de la interfaz sea fácil y rápido, incluso
con una interfaz de usuario compleja, y permite la reutilización del código existente sin copiar y pegar.

Enlace de la documentación oficial!
https://en.bem.info/methodology/quick-start/*/

/*Sección Menu*/

section.menu {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
    padding: 2rem 1rem;
}
.menu__header{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.menu__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 0;
}
.menu__list__item__contato {
    font-weight: bold;
    font-size: clamp(0.8rem, 2.5vw,1.2rem);;
}

/*Sección Title*/

section.title {
    max-width: 1200px;
    width: 100%;
}
.title__div {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}
.title__white {
    font-size: clamp(1.5rem, 4vw,3rem);
    color: white;
}
.title__bio{
    font-size: clamp(1.5rem, 4vw,3.5rem);
    margin-bottom:1.5rem;
    margin-top: 0;
}
.title__subsection {
    font-size: clamp(1rem, 4vw,1.5rem);
    margin-bottom: 1.5rem;
    font-weight: normal;
}
.title__network {
    display: flex;
    gap: 1em;
    padding-left: 0;
    align-items: center;
}
.title__network__item a{
    border: 2px solid var(--fondo-boton);
    background-color: var(--fondo-boton);
    padding: 5px 10px;
    border-radius: 5px;
    display: flex;
    gap: 5px;
}
.title__network__item a:hover{
    background-color: transparent;
    border: 2px solid var(--fondo-boton);
}
.title__profile {
    border-radius: 100%;
    max-width: 300px;
    max-height: 300px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: blanchedalmond;
}
/*Sección About*/

section.about {
    box-sizing: border-box;
    padding: 4rem 2rem;
    width: 100%;
    background-color: #333;
}
.about__container {
    max-width: 1200px;
    width: 100%;
    margin: auto;
}
.about__title {
    font-size: clamp(1.2rem, 4vw, 2rem);
    font-weight: bold;
    margin-bottom: 1.5rem;
}
.about__paragraph {
    max-width: 800px;
    width: 100%;
}

/*Sección Skills*/

section.skills {
    max-width: 1200px;
    width: 100%;
}
.skills__title {
    font-size: clamp(1.2rem, 4vw, 3rem);
    font-weight: bold;
    text-align: center;
    margin-top: 0;
}
.skills__line {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(40%,13rem),1fr));
    align-items: center;
    gap: 1rem;
}
.skills__box {
    background-color: var(--col-de-fondo-secon);
    border-radius: 5px;
    height: 174px;
}
.skills__box ul{ 
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    height: 100%;
    padding: 0;

}
.skills__icon {
    color: var(--color-de-titulo);
    font-size: clamp(2rem, 4vw, 3rem);
}
.skills__name{
    color: white;
    font-size: clamp(1.2rem, 4vw, 1.3rem);
}

/*Sección Hobbies*/

section.hobbies {
    max-width: 1200px;
    width: 100%;
}
.hobbies__title {
    font-size: clamp(1.2rem, 4vw, 3rem);
    font-weight: bold;
    text-align: center;
    margin-top: 0;
}
.hobbies__line {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(40%,11rem),1fr));
    align-items: center;
    gap: 1rem; 
}
.hobbies__box {
    background-color: var(--col-de-fondo-secon);
    border-radius: 5px;
    height: 174px;
}
.hobbies__box ul{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    height: 100%;
    padding: 0;
}
.hobbies__icon{
    color: var(--color-de-titulo);
    font-size: clamp(2rem, 4vw, 2.5rem);
}
.hobbies__name{
    color: white;
    font-size: clamp(1.2rem, 4vw, 1.3rem); 
}
/* Experiencia Académica*/

section.academic {
    max-width: 1200px;
    width: 100%;
}
.academic__title {
    font-size: clamp(1.2rem, 4vw, 3rem);
    font-weight: bold;
    text-align: center;
    margin-top: 0;
}
.academic__courses{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(50%,20rem),1fr));
    align-items: center;
    gap: 1rem; 
}
.academic__courses__box {
    background-color: white;
    border-radius: 5px;
    padding: 1rem;
}
.academic__courses__list {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    height: 100%;
    padding: 0;
}
.academic__courses__item__title h4{
    margin: 0;
    color: black;
    text-align: center;
    font-size: clamp(1.2rem, 4vw, 1.5rem);;
}
.academic__courses__item__img img {
    height: 200px;
    background-color: white;
    border-radius: 5px;
    width: 100%;
}
/* experiencia*/

section.experience {
    max-width: 1200px;
    width: 100%;

}
.experience__section__title {
    font-size: clamp(1.2rem, 4vw, 3rem);
    font-weight: bold;
    text-align: center;
    margin-top: 0; 
}
.experience__container {
    display: flex;
    flex-direction: column; 
}
.experience__box {
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
    align-items: center;
    gap: 2rem;
}
.experience__box-reverse {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
}
.experience__img {
    max-width: 600px;
    width: 100%;
}
.experience__text {
    color: white;
    margin-bottom: 2rem;
}
.experiencia__botao--repo {
    box-sizing: border-box;
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border-color: black;
    margin-right: 1rem;
    margin-top: 1rem;
    border: 2px solid var(--fondo-boton);
}
.experiencia__botao--repo:hover{
    box-sizing: border-box;
    background-color: white;
    color: #000;
    border: 2px solid black;
    border: 2px solid var(--fondo-boton);
}
.experience__botao--demo {
    margin-top: 1rem;
    box-sizing: border-box;
    background-color: var(--fondo-boton);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: 2px solid var(--fondo-boton);
}
.experience__botao--demo:hover {
    background-color: var(--cor-de-fundo);
    border: 2px solid var(--fondo-boton);
}
/*Contacto*/

section.formcontato {
    box-sizing: border-box;
    padding: 4rem 2rem;
    width: 100%;
    background-color: var(--col-de-fondo-secon);
}
.formcontato__contacto {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}
.formcontato__text {
    max-width: 600px;
    width: 100%;
}
.formcontato__title {
    font-size: clamp(1.2rem, 4vw, 2rem);
    font-weight: bold;
    margin-bottom: 1rem;
    margin-top: 0;
}
.formcontato__subtext {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}
.formcontato__subtext {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.formcontato__form {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.formcontato__input ,.formcontato__textarea{
    box-sizing: border-box;
    display: block;
    padding: 20px 10px;
    border-radius: 5px;
    width: 100%;
}
.formcontato__botao {
    background-color: #ff8b00;
    color: white;
    border-radius: 5px;
    padding: 20px 10px;
    text-align: center;
    font-size: clamp(1.2rem, 4vw, 1.2rem);;
}
.formcontato__botao:hover {
    background-color: var(--col-de-fondo-secon);
    border: 2px solid var(--fondo-boton);
    cursor: pointer;
}
/*footeer*/

section.footer {
    box-sizing: border-box;
    background-color: black;
    color: white;
    text-align: center;
    width:100%;
}

/* Vamos a desafiarnos trabajando con responsividad?
Utiliza las referencias de los breakpoints @media abajo */

/*Escritorio*/
@media (max-width:1200px) {
    section{
        box-sizing: border-box;
        padding-left: 2rem;
        padding-right: 2rem;
    }
}
/*Tablet*/
@media (max-width: 820px) {

    /* Menú */
    .menu__list__item {
        display: none;
    }
    /*title*/

    /*Skills*/

    /*Hobbies*/

    /*Formación Académica*/

    /*Experiencia Profesional*/
    .experience__img{
        max-width: 100%;
    }
    .experience__box ,.experience__box-reverse{
        flex-direction: column;
        gap: 0;
    }
    .experience__info-container {
        margin-bottom: 3rem;
    }
    /*Contacto*/
    .formcontato--esquerda {
        display: none;
    }
    .formcontato__text {
        max-width: 100%;
    }
}

/*Mobile*/
@media (max-width: 425px) {
    section{
        box-sizing: border-box;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    /*Menu*/
    section.menu {
        padding: 1rem;
    }
    /*Titulo*/
    .title__div{
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
    .title__network {
        flex-wrap: wrap;
    }
    /*Sección sobre mi*/
    section.about {
        padding: 1rem;
    }
    /*Skills*/

    /*Hobbies*/

    /*Formación Académica*/

    /*Experiencia Profesional*/

    /*Contacto*/
    section.formcontato {
        padding:1rem;
    }
    /*Footer*/

}